{% extends "base.html.jinja" %}

{# This template is reverse-engineered from the ReactJS output of scratch-www, as it appears on scratch.mit.edu #}
{% block styles %}
  {% include 'project_comment/styles.html.jinja' %}
{% endblock %}
{% block body %}
<div class="preview">
<div class="project-lower-container" style="box-sizing: border-box; margin-top: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; background-color: transparent;">
  <div class="comments-container" style="padding: 0; flex: 0 0 0;">
    <div class="flex-row comment-container">
      <div class="flex-row comment">
        <a>
          <img class="avatar" src="data:image/png;base64,{{ content.avatar__b64 }}" style="background-color: white;">
        </a>
        <div class="flex-row comment-body column" style="margin-bottom: 0;">
          {# comment-top-row #}
          <div class="comment-bubble">
            <span class="comment-content">
              <span class="emoji-text">{{ content.comment_body }}</span>
            </span>
            {# comment-bottom-row #}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}