{% extends "base.html.jinja" %}

{# This template is reverse-engineered from the ReactJS output of scratch-www, as it appears on scratch.mit.edu #}
{% block styles %}
  {% include 'project_thumbnail/styles.html.jinja' %}
{% endblock %}
{% block body %}
<div class="thumbnail project slick-slide slick-active" style="display: block;">
  <a class="thumbnail-image">
    <img src="data:image/png;base64,{{ content.thumbnail__b64 }}">
  </a>
  <div class="thumbnail-info">
    <div class="thumbnail-title">
      <a style="white-space: initial; text-overflow: unset;">{{ content.project_title }}</a>
      {#
      <div class="thumbnail-creator">
        <a>username here</a>
      </div>
      #}
    </div>
  </div>
</div>
{% endblock %}