<!DOCTYPE html>
<html style="background-color: lightgray;">
<head>
<meta charset="UTF-8">
{% block styles %}{% endblock %}
<style>
body {
  background-color: {{ config.BackgroundColor }}; 

  /* Twitter media preview is 1:2 */
  width: {{ config.ContainerWidth }}px; 
  min-height: {{ config.ContainerWidth/config.ContainerMaxAspectRatio }}px;

  /* Left/right padding to avoid Twitter mobile crop */
  box-sizing: border-box;
  padding-top: {{ config.RenderPaddingTop|pxRender }};
  padding-bottom: {{ config.RenderPaddingBottom|pxRender }};
  padding-left: {{ config.RenderPaddingLeft|pxRender }};
  padding-right: {{ config.RenderPaddingRight|pxRender }};
  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  transform: scale({{ config.RenderWidth/config.ContainerWidth }});
  transform-origin: 0 0;
}
</style>
</head>
<body id="scratchy-screenshot-target">
{% block body %}{% endblock %}
</body>
</html>